In [ ]:
price = float(input('enter the value of the product: '))
if price >= 1.00:
  tax =  .07
else: 
  tax = 0
print(tax)

enter the value of the product: 10
0.07

In [ ]:
price = float(input('enter the value of the product: '))
if price >= 1.00:
  tax =  .07
else: 
  tax = 0
print(tax)

enter the value of the product: 0.85
0

In [ ]:
country = 'canada'
if country == 'canada':
  print('oh look a Canadian')
else:
  print('you are not from Canada')

oh look a Canadian

In [ ]:
country = input('Which contry do you live? ')
if country.lower() == 'canada':
  print('oh look a Canadian')
else:
  print('you are not from Canada')

Which contry do you live? CANADA
oh look a Canadian

In [ ]:
new = "w3resource"
if len (new) < 2:
  print("empty string")
else:
  print(new[0:2] + new[-2:])

w3ce

In [ ]:
print("Twinkle, twinkle, little star,\n\t How I wonder what you are!\n\t\t Up above the world so high,\n\t\t Like a diamond in the sky.\nTwinkle, twinkle, little star,\n\t How I wonder what you are")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
Twinkle, twinkle, little star,
	 How I wonder what you are

In [ ]:
exam_st_date = (11,12,2014)
print("The examination will start from : ",exam_st_date[0],"/",exam_st_date[1],"/",exam_st_date[2])

The examination will start from :  11 / 12 / 2014

In [ ]:
exam_st_date = (11,12,2014)
print("The examination will start from : {} / {} / {}".format(exam_st_date[0],exam_st_date[1],exam_st_date[2]))

The examination will start from : 11 / 12 / 2014

In [ ]:
number = int(input("bir sayı giriniz: "))
divisors = []
i=1
j=0
while i < number:
  if number%i == 0:
    divisors.append(i)
    j += i
  i=i+1
# print(divisors)
# print(j)
if j == number:
  print(number, "perfect")
else:
  print(number, "not perfect")

bir sayı giriniz: 496
496 perfect

In [ ]:
number = int(input("bir sayı giriniz: "))
divisors = []
i=1
j=0
while i < number:
  if number%i == 0:
    j += i
  i=i+1
  
if j == number:
  print(number, "perfect")
else:
  print(number, "not perfect")

bir sayı giriniz: 496
496 perfect

In [ ]:
num = int(input(""))
total = sum([i for i in range(1,num) if num % i == 0])
if total == num :
  print("{} is a perfect number.".format(num))
else:
  print("{} is not a perfect number.".format(num))

8128
8128 is a perfect number.

In [ ]:
number = int(input("bir sayı giriniz: "))
toplam = 0
for i in range(1, number):
  if number%i == 0:
    toplam = toplam + i
if toplam == number:
  print(number, "perfect")
else:
  print(number, "not perfect")

bir sayı giriniz: 496
496 perfect

In [ ]:
sentence = "Ey Edip, Ad'ana'da ,pide ye"

liste = list(sentence.lower())
liste1 = liste[::-1]

if liste1 == liste:
  print("Sentence is palindrome")
else:
  print("Sentence is not palindrome")

print(liste)
print(liste1)

Sentence is palindrome
['e', 'y', ' ', 'e', 'd', 'i', 'p', ',', ' ', 'a', 'd', "'", 'a', 'n', 'a', "'", 'd', 'a', ' ', ',', 'p', 'i', 'd', 'e', ' ', 'y', 'e']
['e', 'y', ' ', 'e', 'd', 'i', 'p', ',', ' ', 'a', 'd', "'", 'a', 'n', 'a', "'", 'd', 'a', ' ', ',', 'p', 'i', 'd', 'e', ' ', 'y', 'e']

In [ ]:
course = 'clarusway'

for i in course :
    print(i)

c
l
a
r
u
s
w
a
y

In [ ]:
times = int(input("How many times should I say 'I love you'   "))

for i in range(times):
    print('I love you')

How many times should I say 'I love you'   5
I love you
I love you
I love you
I love you
I love you

In [ ]:
n = int(input('enter a number between 1-10  '))

for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

enter a number between 1-10  21
21x0 =  0
21x1 =  21
21x2 =  42
21x3 =  63
21x4 =  84
21x5 =  105
21x6 =  126
21x7 =  147
21x8 =  168
21x9 =  189
21x10 =  210

In [ ]:
n = int(input('enter a number between 1-10  '))

for i in range(1,11):
    print(n%i)

enter a number between 1-10  9
0
1
0
1
4
3
2
1
0
9

In [ ]:
b = list(range(11))

print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
c = range(11)
print(c)

range(0, 11)

In [ ]:
a = set(range(0,10))

print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
c = tuple(range(11))

print(c)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
print(range(5))  # it will not print the numbers in sequence

range(0, 5)

In [ ]:
print(*range(5))  # '*' separates its elements

0 1 2 3 4

In [ ]:
c = {i for i in range(5)} 
print (c)

{0, 1, 2, 3, 4}

In [ ]:
l = [i for i in range(5)] 
print (l)

[0, 1, 2, 3, 4]

In [ ]:
t = (i for i in range(5)) 
print (t)

<generator object <genexpr> at 0x7fd4b86a80d0>

In [ ]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [ ]:
print(*('separate'))

s e p a r a t e

In [ ]:
print(*range(10,0,-2))

10 8 6 4 2

In [ ]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
    print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [ ]:
# times = int(input("How many times should I say 'I love you'   "))

# for i in range(times):
#     print('I love you')

In [ ]:
name1 = input('What is your name? ')
if name1.lower() == 'omer':
  print("Hello, Omer! The password is : W@12")
else:
  print("Hello, {}! See you later.".format(name1))

What is your name? hasan
Hello, hasan! See you later.

In [ ]:
listA =  ["susan", "tom", False, 0, 22]
filtered_list = filter(None, listA)

In [ ]:
filtered_list

In [ ]:
print("The filtered elements are : ")

for i in filtered_list:
  print(i)

The filtered elements are :
susan
tom
22

In [ ]:
listA =  ["susan", "tom", False, 0, 22]
filtered_list = filter(None, listA)
print("The filtered elements are : ")

for i in filtered_list:
  print(i)

The filtered elements are :
susan
tom
22

In [ ]:
grocery = ["bread", "water", "olive"]
enum_grocery = enumerate(grocery)

print(type(enum_grocery))
print(list(enum_grocery))
enum_grocery = enumerate(grocery, 10)
print(list(enum_grocery))

<class 'enumerate'>
[(0, 'bread'), (1, 'water'), (2, 'olive')]
[(10, 'bread'), (11, 'water'), (12, 'olive')]

In [ ]:
numbers = [2.5, 30, 4, -15]

numbers_sum = sum(numbers)
print(numbers_sum)

numbers_sum = sum(numbers,20)
print(numbers_sum)

21.5
41.5

In [ ]:
print(round(12))
print(round(10.8))
print(round(3.665, 2))
print(round(3.675, 2))

12
11
3.67
3.67

In [ ]:
def ilk_fonksiyonum(x,y):
  print(x**2+y**2)

In [ ]:
ilk_fonksiyonum(3,4)

25

In [ ]:
def hipotenus(a,b):
  print((a**2+b**2)**0.5)

In [ ]:
hipotenus(3,4)

5.0

In [ ]:
def multiply(a,b):
  print(a*b)

multiply(3,5)
multiply(-1, 2.5)
multiply('amazing ',3)

15
-2.5
amazingamazingamazing

In [ ]:
def rumi():
  print("""
  Duydum ki bizi bırakmaya azmediyorsun, etme.
Başka bir yar, başka bir dosta meylediyorsun, etme.
Sen yadeller dünyasında ne arıyorsun yabancı?
Hangi hasta gönüllüyü kastediyorsun, etme.
Çalma bizi, bizden bizi, gitme o ellere doğru.
Çalınmış başkalarına nazar ediyorsun, etme.  
  """    
  )

rumi()

  Duydum ki bizi bırakmaya azmediyorsun, etme.
Başka bir yar, başka bir dosta meylediyorsun, etme.
Sen yadeller dünyasında ne arıyorsun yabancı?
Hangi hasta gönüllüyü kastediyorsun, etme.
Çalma bizi, bizden bizi, gitme o ellere doğru.
Çalınmış başkalarına nazar ediyorsun, etme.

In [ ]:
def add(sayi1,sayi2):
  print(sayi1 +sayi2)

In [ ]:
add (2,3)

5

In [ ]:
add(-5,5)

0

In [ ]:
add('5','5')

55

In [ ]:
def calculator(sayi1,sayi2,islem):
  if islem =="+":
    print(sayi1+sayi2)
  elif islem == "-":
    print(sayi1-sayi2)
  elif islem == "/":
    print(sayi1/sayi2)    
  elif islem == "*":
    print(sayi1*sayi2)
  else:
    print("enter valid arguments")

In [ ]:
 calculator(88, 22, "*")

1936

In [ ]:
def multiply_2(a,b):
  return(a*b)

In [ ]:
print(multiply_2(10,5))

50

In [ ]:
def absolute_value(number):
     if number >= 0:
           return number
     else:
           return -number

In [ ]:
absolute_value(-22)

22

In [ ]:
generator = (i **2 for i in range(6))

In [ ]:
generator

In [ ]:
print(*generator)

0 1 4 9 16 25