In [ ]:
from datetime import datetime

# def print_time():
#   print('task completed')
#   print(datetime.now())
#   print()

first_name = 'Omer'
print('first name assigned')
print(datetime.now())
print()

for x in range(0,10):
  print(x)
print('loop completed')
print(datetime.now())  
print()

first name assigned
2021-11-22 08:01:30.874527

0
1
2
3
4
5
6
7
8
9
loop completed
2021-11-22 08:01:30.875725

In [ ]:
from datetime import datetime

def print_time(task_name):
  print(task_name)
  print(datetime.now())
  print()

first_name = 'Susan'
print_time('first name assigned')

# print(datetime.now())
# print()

for x in range(0,10):
  print(x)
print_time('loop completed')
# print(datetime.now())  
# print()

print_time('yeni')

first name assigned
2021-11-22 08:08:25.782482

0
1
2
3
4
5
6
7
8
9
loop completed
2021-11-22 08:08:25.782983

yeni
2021-11-22 08:08:25.783094

NameError: ignored

In [ ]:
def my_function(a, b):
    hypotenuse = (a**2 + b**2)**0.5
    return hypotenuse

print(my_function(3,4))

5.0

In [ ]:
def my_function(a, b):
    area = a * b
    return area

print(my_function(3, 4))

12

In [ ]:
def longer(a, b):
    if len(a) >= len(b):
        return a
    else:
        return b

print(longer('Richard', 'John'))

Richard

In [ ]:
def my_function(a, b):
    print(a*b)

my_function(10,20)

200

In [ ]:
def my_function(a, b):
    hypotenuse = (a**2 + b**2)**0.5
    return hypotenuse

print(my_function(3,4))

5.0

In [ ]:
def longer(a, b):
    if len(a) >= len(b):
        return a
    else:
        return b

print(longer('Richard', 'John'))

Richard

In [ ]:
def who(first, last) :  # 'first' and 'last' are the parameters(or variables)
    print('Your first name is :', first)
    print('Your last name is :', last)

who('Guido', 'van Rossum')  # 'Guido' and 'van Rossum' are the arguments
print()
who('Marry', 'Bold')  # 'Marry' and 'Bold' are also the arguments
print()
who('Oliver')

Your first name is : Guido
Your last name is : van Rossum

Your first name is : Marry
Your last name is : Bold

TypeError: ignored

In [ ]:
def who(first, last) :  # same structure as the previous one
    print('Your first name is :', first)
    print('Your last name is :', last)

who(first='Guido', last='van Rossum')  # calling the function is different
# we used kwargs to pass the values into the function

Your first name is : Guido
Your last name is : van Rossum

In [ ]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

parrot(1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot(voltage=1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot(voltage=1000000, action='VOOOOOM')

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot(action='VOOOOOM', voltage=1000000)

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot('a million', 'bereft of life', 'jump')

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [ ]:
parrot('a thousand', state='pushing up the daisies')

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [ ]:
parrot()

TypeError: ignored

In [ ]:
parrot(voltage=5.0, state='dead')

-- This parrot wouldn't voom if you put 5.0 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's dead !

In [ ]:
parrot(110, voltage=220)

TypeError: ignored

In [ ]:
parrot(actor='John Cleese')

TypeError: ignored

In [ ]:
def function(a):
    pass  # actually, 'pass' does nothing. it just moves to the next line of code
    print(a)
function(0)

0

In [ ]:
def city(capital, continent='Europe'):
    print(capital, 'in', continent)

city('Athens')  # we don't have to pass any arguments into 'continent'
city('Ulaanbaatar', continent='Asia')  # we can change the default value by kwargs
city('Cape Town', 'Africa')  # we can change the default value by positional args.

Athens in Europe
Ulaanbaatar in Asia
Cape Town in Africa

In [ ]:
def fruiterer(fruit1, fruit2) :
    print('I want to get', fruit1, 'and', fruit2)
        
fruiterer('orange', 'banana')

I want to get orange and banana

In [ ]:
def fruiterer(*fruit) :
    print('I want to get :')
    for i in fruit :
        print('-', i)
        
fruiterer('orange', 'banana', 'melon', 'ananas')

I want to get :
- orange
- banana
- melon
- ananas

In [ ]:
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
 
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [ ]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')

family = ['tom', 'sue', 'tim']
brothers(*family)

Here are the names of brothers :
tom
sue
tim

In [ ]:
def gene(x, y):  # defined by positional args
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
 
dict_gene = {'y' : "Marry", 'x' : "Fred"}
gene(**dict_gene)  # we call the function by a single argument(variable)

Fred belongs to Generation X
Marry belongs to Generation Y

In [ ]:
def gene(x='Solomon', y='David'):  # defined by kwargs (default values assigned to x and y)
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
 
dict_gene = {'y' : "Marry", 'x' : "Fred"}
gene(**dict_gene)

Fred belongs to Generation X
Marry belongs to Generation Y

In [ ]:
def make_sentence(**kwargs):
    result = ""
    # Iterating over the Python kwargs dictionary
    for i in kwargs.values():
        result += i
    return result

print(make_sentence(a="I ", b="love ", c="Clarusway!"))

I love Clarusway!