<a href="https://colab.research.google.com/github/coder-omer/Python/blob/main/IndexingList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
colors = ['red', 'purple', 'blue', 'yellow', 'green']
print(colors[2])  # If we start at zero, 
# the second element will be 'blue'.

blue

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city_list = []
city_list.append(city) # we have created a nested list

print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [ ]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0]) # access to first and only element

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [ ]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2])

Istanbul

In [ ]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]
print(city_list[0][2][3])

a

In [ ]:
odd_numbers = [[11, 13, 15], 17, 19, 21, 23, 25, 27, 29]

print(odd_numbers[6])

27

In [ ]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [ ]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[2:5])  # we get the elements from index=2 to index=5(5 is not included)

[5, 7, 9]

In [ ]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [ ]:
letters = ['a', 'b', 'c', 'd', 'f']
letters.insert(4, 'e')
print(letters)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1,20)
print(numbers_10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [ ]:
family_members = ('Meghan', 'Tom', 'Nicole', 'Tim')
print(family_members)
print(type(family_members))

('Meghan', 'Tom', 'Nicole', 'Tim')
<class 'tuple'>