In [ ]:
number = 0

while number < 6:
    print(number)
    number += 1
print('now, number is bigger or equal to 6')

0
1
2
3
4
5
now, number is bigger or equal to 6

In [ ]:
my_list=["a", "b", "c", "d", "e"]

a = 0

while a < len(my_list):
    print('square of {} is : {}'.format(a, a**2))
    a+=1

square of 0 is : 0
square of 1 is : 1
square of 2 is : 4
square of 3 is : 9
square of 4 is : 16

In [ ]:
answer = 44

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))

    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

Let's play the guessing game!
What number am I thinking of?  54
Little lower
What number am I thinking of?  50
Little lower
What number am I thinking of?  35
Little higher
What number am I thinking of?  40
Little higher
What number am I thinking of?  48
Little lower
What number am I thinking of?  46
Little lower
What number am I thinking of?  43
Little higher
What number am I thinking of?  45
Little lower
What number am I thinking of?  44
Are you a MINDREADER!!!

In [ ]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0

while count1>0 :
    print(flowers[count2])
    count1 -= 1
    count2 += 1

Rose
Orchid
Tulip

In [ ]:
for i in [1, 2, 3, 4, 5] :
    print(i)

1
2
3
4
5

In [ ]:
seasons = ['spring', 'summer', 'autumn', 'winter']

for season in seasons :
    print(season)

spring
summer
autumn
winter

In [ ]:
for i in {'n1' : 'one', 'n2' : 'two'} : print(i)

n1
n2

In [ ]:
iterable = [1, 2, 3, 4]
for i in iterable:
  print(i*i)

1
4
9
16

In [ ]:
course = 'clarusway'

for i in course :
    print(i)

c
l
a
r
u
s
w
a
y

In [ ]:
course = 'clarusway'

for i in course :
    print(i)

In [ ]:
course = 'clarusway'
a=0
while a < len(course): 
    print(course[a])
    a=a+1

c
l
a
r
u
s
w
a
y

In [ ]:
course = 'clarusway'
a=0
for a in course: 
    print(a)
    a='a+1'

c
l
a
r
u
s
w
a
y

In [ ]:
times = int(input("How many times should I say 'I love you'"))

for i in range(times):
    print('I love you')

How many times should I say 'I love you'5
I love you
I love you
I love you
I love you
I love you

In [ ]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

enter a number between 1-103
3x0 =  0
3x1 =  3
3x2 =  6
3x3 =  9
3x4 =  12
3x5 =  15
3x6 =  18
3x7 =  21
3x8 =  24
3x9 =  27
3x10 =  30

In [ ]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    i=i+1
    print('{}%{} = '.format(n, i), n % i)

enter a number between 1-106
6%1 =  0
6%2 =  0
6%3 =  0
6%4 =  2
6%5 =  1
6%6 =  0
6%7 =  6
6%8 =  6
6%9 =  6
6%10 =  6
6%11 =  6

In [ ]:
b = list(range(11))

print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
b = range(11)

print(b)

range(0, 11)

In [ ]:
a = set(range(0,10))

print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
c = tuple(range(11))

print(c)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

The formula syntax is : range(start, stop, step)

In [ ]:
print(range(5))  # it will not print the numbers in sequence

print(*range(5))  # '*' separates its elements

range(0, 5)
0 1 2 3 4

In [ ]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

In [ ]:
print(*('separate'))

s e p a r a t e

In [ ]:
print(*range(10,0,-2))

10 8 6 4 2

In [ ]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
    print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [ ]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for i in who:
    for ii in mood:
        print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [ ]:
for name in ['Chris','Susan']:
  print(name)

Chris
Susan

In [ ]:
for index in range(0,2):
  print(index)

0
1

In [ ]:
names = ['Christopher', 'Susan']
index = 0
while index < len(names):
  print(names[index])
  index = index + 1

Christopher
Susan

In [ ]:
people = ['Chris','Susan']

for name in people:
  print(name)

Chris
Susan

In [ ]:
people = ['Chris','Susan']

index = 0
while index < len(people):
  print(people[index])
  index=index+1

Chris
Susan