<a href="https://colab.research.google.com/github/coder-omer/Python/blob/main/python_recap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
0xA + 0xB + 0xC

33

In [ ]:
print(r"\nhello")

\nhello

In [ ]:
print("new" "line")

newline

In [ ]:
print("new" "line" "end")

newlineend

In [ ]:
print("new" "line" "end" 3)

SyntaxError: ignored

In [ ]:
print("new" "line" "end", 3)

newlineend 3

In [ ]:
str1 = "clarsuway"
print(str1[::-1])

yawusralc

In [ ]:
example = "snow world"
print("%s" % example[4:7])

 wo

In [ ]:
example = "snow world"
print(% example[4:7])

SyntaxError: ignored

In [ ]:
example = 499999656
print("%s" % example[4:7])

TypeError: ignored

In [ ]:
print("DA", sep="-",end = ' ')
print("CA", end = '')
print("BA", sep="-", end = ' ')
print("AA", end = '')

DA CABA AA

In [ ]:
example = "snow world"
example[3] = 's'
print(example)

TypeError: ignored

In [ ]:
print(max("joseph"))

s

In [ ]:
example = "hello"
print(example.count("l"))

2

In [ ]:
example = "helen"
print(example.find("e"))

1

In [ ]:
example="helloworld"
print(example[::-1].startswith("eh"))

False

In [ ]:
print("hello\example\test.txt")

hello\example	est.txt

In [ ]:
print("hello\"example\"test.txt")

hello"example"test.txt

In [ ]:
print(“hello"\example"\test.txt”)

SyntaxError: ignored

In [ ]:
print("hello\\example\\test.txt")

hello\example\test.txt

In [ ]:
print("hello\n\example\n\test.txt")

hello
\example
	est.txt

In [ ]:
s = "\t\tWorld\n"
print(s.strip())

World

In [ ]:
print("hello" +"1+2+""3")

hello1+2+3

In [ ]:
""" this is my first module & script """

def my_func1(x):
    return print(x**2)

def my_func2(y):
    return print(*y)

if __name__ == '__main__':  # output-generating statements are here
    print('hello') 
    my_func1(3)
    my_func2("clarusway")

hello
9
c l a r u s w a y

In [ ]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [ ]:
parrot(1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot(voltage=1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot(voltage=1000000, action='VOOOOOM')

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot(action='VOOOOOM', voltage=1000000)

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [ ]:
parrot('a million', 'bereft of life', 'jump')

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [ ]:
parrot('a thousand', state='pushing up the daisies')

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [ ]:
def fruiterer(*fruit) :
    print('I want to get :')
    for i in fruit :
        print('-', i)
        
fruiterer('orange', 'banana', 'melon', 'ananas')

I want to get :
- orange
- banana
- melon
- ananas

In [ ]:
def animals(**kwargs):
    for i, j in kwargs.items():
        print(j, "are", i)
 
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [ ]:
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')

family = ['tom', 'sue', 'tim']
brothers(*family)

Here are the names of brothers :
tom
sue
tim

In [ ]:
def gene(x, y):  # defined by positional args
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
 
dict_gene = {'y' : "Marry", 'x' : "Fred"}
gene(**dict_gene)  # we call the function by a single argument(variable)

Fred belongs to Generation X
Marry belongs to Generation Y

In [ ]:
def gene(x='Solomon', y='David'):  # defined by kwargs (default values assigned to x and y)
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
 
dict_gene = {'y' : "Marry"}
gene(**dict_gene)

Solomon belongs to Generation X
Marry belongs to Generation Y

In [ ]:
count = 1

def counter():
    global count  # we've changed its scope
    print(count)  # it's global anymore
    count += 1
 
counter() 
counter()
counter()

1
2
3

In [ ]:
def square(x):
    return x**2

square(2)

4

In [ ]:
(lambda x: x**2)(2)

4

In [ ]:
print((lambda x, y: (x+y)/2)(3, 5))  # takes two int, returns mean of them

4.0

In [ ]:
average = (lambda x, y: (x+y)/2)(3, 5) 
print(average)

4.0

In [ ]:
my_list = [1,2,3,4,5,6]
new_list = []

In [ ]:
for x in my_list:
  if x % 2 != 0 :
    new_list.append(x**2)

print(new_list)

[1, 9, 25]

In [ ]:
[x**2 for x in my_list]

[1, 4, 9, 16, 25, 36]

In [ ]:
[x**2 for x in my_list if x % 2 != 0]

[1, 9, 25]

In [ ]:
for item in iterable:
  if condition:
    expression

In [ ]:
[expression for item in iterable if condition]

In [ ]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type

print(list(result))  # we've converted it to list type to print

print(list(map(lambda x:x**2, iterable)))  # you can print directly

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [ ]:
def square(n):
  return n**2

iterable = [1, 2, 3, 4, 5]
result = map(square, iterable) 
print(list(result))

[1, 4, 9, 16, 25]

In [ ]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [ ]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
  
even = filter(lambda x:x%2==0, first_ten) 
print(type(even))  # it's 'filter' type, 
                   # in order to print the result,
                   # we'd better convert it into the list type

print('Even numbers are :', list(even))

<class 'filter'>
Even numbers are : [0, 2, 4, 6, 8]

In [ ]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
vowels = filter(lambda x: True if x in vowel_list else False, first_ten)

print('Vowels are :', list(vowels))

Vowels are : ['a', 'e', 'i']

In [ ]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = filter(lambda x: x >= 6, number_list)
print(list(result))

[6, 7, 8, 9, 10]

In [ ]:
number_list=[ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
number_list=str(number_list)
print(number_list)
harf_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

resmap = map(lambda x, y : x+y, number_list, harf_list)

print(list(resmap))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['[a', '1b', ',c', ' d', '2e', ',f', ' g', '3h', ',i', ' j']

In [ ]:
def modular_function(n):
    return lambda x: x ** n
    
power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(5))  # 2 to the power of 3
print(power_of_4(10))  # 2 to the power of 4

4
125
10000

In [ ]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('alex '))
print(repeat_3_times('lara '))
print(repeat_4_times('linda '))

alex alex
lara lara lara
linda linda linda linda

In [ ]:
number_list = [1, 2, 3, 4]
result = map(lambda x:x**3, number_list)
print(list(result))

[1, 8, 27, 64]

In [ ]:
number_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
divisible_list = filter(lambda x:x%3==0, number_list) 
print(list(divisible_list))

[0, 3, 6, 9, 12]

In [ ]:
def my_function_1(a, b):
    area = a * b
    return area

In [ ]:
area_1 = my_function_1(3, 4)
area_2 = my_function_1(5, 6)
area_3 = my_function_1(6, 8)

print(area_1)
print(area_2)
print(area_3)

12
30
48