<a href="https://colab.research.google.com/github/coder-omer/Python/blob/main/Sequences.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("one", "two", "three", sep="\t") # separated by tab marks

one	two	three

In [ ]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

we are united

In [ ]:
print('C:\\november\number_expenditure.txt')

C:\november
umber_expenditure.txt

In [ ]:
print("one", "two", "three", sep="\t") # separated by tab marks

one	two	three

In [ ]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

we are united

In [ ]:
print('it\'s funny to learn Python')

it's funny to learn Python

In [ ]:
print('C:\\November\number_expenditure.txt')

C:\November
umber_expenditure.txt

In [ ]:
print(None or 1)