In [ ]:
number = 2020
text = "çocuklar da büyükler kadar saygı görmeyi hakederler"
print(text, number)

çocuklar da büyükler kadar saygı görmeyi hakederler 2020

In [ ]:
print("yesterday I ate", 2, "apples")

yesterday I ate 2 apples

In [ ]:
print('i', end=' ')
print('will say', end=' ')
print("'i missed you'", end=' ')
print('to my mother')

i will say 'i missed you' to my mother

In [ ]:
print('i')
print('will say')
print("'i missed you'")
print('to my mother')

i
will say
'i missed you'
to my mother

In [ ]:
print('smoking', 'is', 'slowly', 'killing me', sep=' + ')

smoking + is + slowly + killing me

In [ ]:
print('smoking', 'is', 'slowly', 'killing me')

smoking is slowly killing me

In [ ]:
print('smoking', 'is', 'slowly', 'killing me', sep='\n')

smoking
is
slowly
killing me

In [ ]:
x = 5
print ('value of x       : ', x)

value of x       :  5

In [ ]:
x += 2
print ("2 more of x      : ", x, "\n")

2 more of x      :  17

In [ ]:
x += 2
print ("2 more of x      : ", x, "\n")

2 more of x      :  15

In [ ]:
y = 10
print ('value of y       : ', y)

value of y       :  10

In [ ]:
y -= 2
print ("2 minus y        : ", y, "\n")

2 minus y        :  8

In [ ]:
z = 6
print ('value of z       : ', z)

value of z       :  6

In [ ]:
z *= 2
print ("2 times z        : ", z, "\n")

2 times z        :  12

In [ ]:
fruit = 'Orange'
vegetable = "Tomato"
print (fruit, """ and """ , vegetable)

Orange  and  Tomato

In [ ]:
fruit = 'Orange'
vegetable = "Tomato"
print (fruit, ' and ' , vegetable)

Orange  and  Tomato

In [ ]:
print("hello", 3.14, 74)

hello 3.14 74

In [ ]:
print(type("hello"), type(3.14), type(74))

<class 'str'> <class 'float'> <class 'int'>

In [ ]:
print(type("hello"), type(3.14), type(74), sep='\n')

<class 'str'>
<class 'float'>
<class 'int'>

In [ ]:
print(type("hello"), type(3.14), type(74), end='\n')

<class 'str'> <class 'float'> <class 'int'>

In [ ]:
print(type("hello"), type(3.14), type(74), '\n')

<class 'str'> <class 'float'> <class 'int'>

In [ ]:
print('C:\\november\number_expenditure.txt')

C:\november
umber_expenditure.txt

In [ ]:
print('C:\november\number_expenditure.txt')

C:
ovember
umber_expenditure.txt

In [ ]:
print("one", "two", "three", sep="\t") # separated by tab marks

one	two	three

In [ ]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

we are united

In [ ]:
print('we ','\bare ','\bunited') # remember, normally print() function
# separates expressions by spaces

we  are  united

In [ ]:
print('it\'s funny to learn Python')

it's funny to learn Python

In [ ]:
text1 = 'it'
text2 = 'easy'
print(text1 + '\'s very '+ text2)

it's very easy