<a href="https://colab.research.google.com/github/coder-omer/Python/blob/main/SlicingList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
count = list(range(11))
print(count)

print(count[0:11:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]

In [ ]:
count = list(range(8))
print(count)

print(count[1:8:2])

[0, 1, 2, 3, 4, 5, 6, 7]
[1, 3, 5, 7]

In [ ]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

print(animals[:])  # all elements of the list

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [ ]:
print(animals[0:])

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']

In [ ]:
print(animals[:4])

['elephant', 'bear', 'fox', 'wolf']

In [ ]:
print(animals[::2])

['elephant', 'fox', 'rabbit', 'giraffe']

In [ ]:
print(animals[3:])

['wolf', 'rabbit', 'deer', 'giraffe']

In [ ]:
print(animals[::2])

['elephant', 'fox', 'rabbit', 'giraffe']

In [ ]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [ ]:
print(len([[12, 34, 56]]))

1

In [ ]:
print(len([[2,4]]))

1

In [ ]:
print(len([[12, 34, 56, 48]][0]))

4

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])

['lobster', 'squid', 'octopus']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[:-3])

['swordfish', 'shark', 'whale', 'jellyfish']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-1])  # we have produced the reverse of the list

['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[::-2])

['octopus', 'lobster', 'whale', 'swordfish']

In [ ]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(odd_no[7:3:-1])
print(odd_no[2:6:-1])

[8, 7, 6, 5]
[]

In [ ]:
count = list(range(11))
count.sort(::-1)
print(count)

SyntaxError: ignored

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}".format(flowers[0][1])
print(text)

IndexError: ignored

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
print(flowers[0][2])
print(flowers[0][1][1])

tulip
rose

In [ ]:
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
print(colors[1][0])
print(colors[1][1][1])

blue
green

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
#text = .........
print("My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2],flowers[0][1][1],colors[1][0],colors[1][1][1]))

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2],flowers[0][1][1],colors[1][0],colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old. I have two children. Data Science is my IT domain."

print(sentence)

I am 40 years old. I have two children. Data Science is my IT domain.

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old. {}I have two children. {}Data Science is my IT domain.".format(escapes[0],escapes[2][1])

print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]
month = "Şubat{} Mart{} Nisan".format(escapes[0],escapes[2][1])
print(month)

Şubat
	 Mart
		 Nisan

In [ ]:
count = list(range(11))
descending_list = count.sort()
print(descending_list[:0:-1])

TypeError: ignored

In [ ]:
count = list(range(11))
count.sort()
descending_list = count[:0:-1]
print(descending_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]