In [ ]:
# Basic introduction to control flow statements

#  if condition:
#       body
#  elif condition:
#       body
#  else:
#       body


# for i in iterable:
#    body

# while condition:
#    body

In [ ]:
# Difference between for and while

In [ ]:
liste = [1,2,3,4,5]
print(list(map(str, liste)))

['1', '2', '3', '4', '5']

In [ ]:
# Find a students average

#   Sample Input :
#       2
#       Harsh 25 26.5 28
#       Anurag 26 28 30
#       Harsh

#   Sample Output:
#       26.50

In [ ]:
student_number = int(input("How many students are you going to enter? "))
students = dict()
for i in range(student_number):
    student_info = input("What is the students name and his grades? ")
    student_info = student_info.split() #       ['Harsh', '25', '26.5', '28']
    student_name = student_info[0]
    students[student_name] = student_info[1:]

wanted_student = input("Whose grades do you want to see? ")

sum_of_grades = 0
for grade in students[wanted_student]:
    grade = float(grade)
    sum_of_grades += grade
average_grade = sum_of_grades / 3 
print(average_grade)

40.0

In [ ]:
student_number = int(input("How many students are you going to enter? "))
students = dict()
for i in range(student_number):
    student_info = input("What is the students name and his grades? ")
    student_info = student_info.split() #       ['Harsh', '25', '26.5', '28']
    student_name = student_info[0]
    students[student_name] = list(map(float,student_info[1:]))

wanted_student = input("Whose grades do you want to see? ")

sum_of_grades = sum(students[wanted_student])
average_grade = sum_of_grades / len(students[wanted_student]) 
print(average_grade)

In [ ]:
student_number = int(input("How many students are you going to enter? "))
students = dict()
for i in range(student_number):
    student_name = input("What is the students name? ")
    student_grades = input(f"What is {student_name}'s grades? ")
    student_grades = map(float, student_grades.split())
    students[student_name] = student_grades

wanted_student = input("Whose grades do you want to see? ")

sum_of_grades = sum(students[wanted_student])
average_grade = sum_of_grades / len(students[wanted_student]) 
print(average_grade)

In [ ]:
# Find the Runner up score

#   Sample input:
#       3
#       2
#       3
#       6

#   Sample output:
#       3

In [ ]:
number = int(input("How many number are you going to enter? "))
number_list = [] 
for i in range(number):
    current_num = int(input("Enter your number : "))
    number_list.append(current_num)
print(number_list)
number_list = list(set(number_list))
number_list.sort()
print(number_list[-2])

[6, 5, 6, 4, 2]
5

In [ ]:
string = "omer"
print("".join(sorted(string)))

emor

In [ ]:
# 6 ogrenci 3 notunu girelim ve onlarin ilk sinav ortalamasini alalim

In [ ]:
# reverse every string in a list

#   Sample input:
#       'clarusway, omer mentor'

#   Sample Output:
#       ['yawsuralc', 'rotnem remo']

In [ ]:
strs = input("Enter your strings as comma seperated")
strs = strs.split(", ")
for i in range(len(strs)):
    strs[i] = strs[i][::-1]

print(strs)

Enter your strings as comma seperatedhadi , len, oradan
[' idah', 'nel', 'nadaro']

In [1]:
strs = input("Enter your strings as comma seperated")
strs = strs.split(", ")
reversed_strs = [i[::-1] for i in strs]
reversed_strs

Enter your strings as comma seperatedfenerbahçe,spor,kulübü

['übüluk,rops,eçhabrenef']

In [2]:
# 371 = 3^3 + 7^3 + 1^3 -> armstrong sayisidir

number = input("Enter your number") 
if number.isdigit() and int(number) > 0:
    length = len(number)
    sum = 0
    for integer in number:
        integer = int(integer)
        sum += integer ** length
    if int(number) == sum:
        print("This is an armstrong number")
    else:
        print("This is not an armstrong number")
else:
    print("Please enter a valid number")

Enter your number371
This is an armstrong number

In [ ]:
while(True):
    number = input("Enter your number") 
    if number.isdigit() and int(number) > 0:
        length = len(number)
        sum = 0
        for integer in number:
            integer = int(integer)
            sum += integer ** length
        if int(number) == sum:
            print("This is an armstrong number")  
        else:
            print("This is not an armstrong number")
        break
    else:
        print("Please enter a valid number")

Please enter a valid number
Please enter a valid number
This is not an armstrong number
This is an armstrong number

In [ ]:
strs = "latin"
strs =  list(strs)
print(strs)

cont = strs[::-1]

print(cont)

['l', 'a', 't', 'i', 'n']
['n', 'i', 't', 'a', 'l']

In [3]:
txt = "Company12"
x = txt.isalnum()
print(x)

True

In [5]:
txt = "Company12}"

duz1 = txt.isalnum()

print(duz1)

False