In [ ]:
fruit = 'Orange'

print('Word                   : ' , fruit)

Word                   :  Orange

In [ ]:
print('First letter           : ' , fruit[0])

First letter           :  O

In [ ]:
print('Second letter           : ' , fruit[1])

Second letter           :  r

In [ ]:
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

3rd to 5th letters     :  ang
Letter all after 3rd   :  ange

In [ ]:
print("2nd to 6th letters     : " , fruit[1:6])
print("Letter all after 1st   : " , fruit[1:])

2nd to 6th letters     :  range
Letter all after 1st   :  range

In [ ]:
print('tamamı           : ' , fruit[:])

tamamı           :  Orange

In [ ]:
print('verilen sayıdan itibaren : ' , fruit[2:])

verilen sayıdan itibaren :  ange

In [ ]:
print('verilen sayıda sonlanıyor  : ' , fruit[:4])

verilen sayıda sonlanıyor  :  Oran

In [ ]:
print('basamak basamak     : ' , fruit[::2])

basamak basamak     :  Oag

In [ ]:
print('basamak basamak     : ' , fruit[::-2])

basamak basamak     :  enr

In [ ]:
print('clarus' + 'way')

clarusway

In [ ]:
print(3*'no way!')

no way!no way!no way!

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

using + : OrangeTomato
using * : OrangeOrangeOrange

In [ ]:
fruit = 'orange'
fruit += ' apple'

print(fruit)

orange apple

In [ ]:
fruit = 'orange'
fruit += ' apple'
fruit += ' banana'
fruit += ' apricot'

print(fruit)

orange apple banana apricot

In [ ]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase)

I have 4 children and 5.00 brothers

In [ ]:
sentence = "apologizing is a virtue"

print("%.11s" % sentence)  # we get first 11 characters of the string

apologizing

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))

The amount of Orange we bought is 4 pounds

In [ ]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [ ]:
print('{0} is the most {adjective} state of the {country}'.format('California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [ ]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [ ]:
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.

In [ ]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [ ]:
result = f"{4 * 5}"

print(result)

20

In [ ]:
my_name = 'JOSEPH'
output = f"My name is {my_name.capitalize()}"

print(output)

My name is Joseph

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (
     f"Hi {name}. "
     f"You are one of the {job} "
     f"in the {domain} section."
)
print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [ ]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
     f"You are one of the {job} " \
     f"in the {domain} section."

print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [ ]:
text = 'www.clarusway.com'
print(text.endswith('.com'))
print(text.startswith('http:'))

True
False

In [ ]:
text = 'www.clarusway.com'
print(text.endswith('om'))
print(text.startswith('w'))

True
True

In [ ]:
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))
print(email.endswith("-", 10, 32))

True
True

In [ ]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))

28

In [ ]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith(".", 10, 25))

28
True
True

In [ ]:
sentence = "I live and work in Virginia"

print(sentence.upper())  

print(sentence.lower())

print(sentence.swapcase())

print(sentence)  # note that, source text is unchanged

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I live and work in Virginia

In [ ]:
sentence = "I live and work in Virginia"
title_sentence = sentence.title() 
print(title_sentence)  

changed_sentence = sentence.replace("i", "+")
print(changed_sentence)  

print(sentence)  # note that, again source text is unchanged

I Live And Work In Virginia
I l+ve and work +n V+rg+n+a
I live and work in Virginia

In [ ]:
sentence = "I live and work in Virginia"
swap_case = sentence.swapcase()
print(swap_case)
print(swap_case.capitalize())  # changes 'i' to uppercase and
# the rest to lowercase

i LIVE AND WORK IN vIRGINIA
I live and work in virginia

In [ ]:
print(sentence.upper())

I LIVE AND WORK IN VIRGINIA

In [ ]:
print(sentence.lower())

i live and work in virginia

In [ ]:
print(sentence.swapcase())

i LIVE AND WORK IN vIRGINIA

In [ ]:
print(sentence)

I live and work in Virginia

In [ ]:
print(sentence.capitalize())

I live and work in virginia

In [ ]:
print(sentence.replace('i','o'))

I love and work on Vorgonoa

In [ ]:
print(sentence)

I live and work in Virginia

In [ ]:
print(sentence.replace('i','o',2))

I love and work on Virginia

In [ ]:
print("Actions speaks louder than words".upper().swapcase().capitalize())

Actions speaks louder than words

In [ ]:
print("Actions speaks louder than words".upper())

ACTIONS SPEAKS LOUDER THAN WORDS

In [ ]:
print("Actions speaks louder than words".swapcase())

aCTIONS SPEAKS LOUDER THAN WORDS

In [ ]:
print("Actions speaks louder than words".capitalize())

Actions speaks louder than words

In [ ]:
print("Actions speaks louder than words".title())

Actions Speaks Louder Than Words

In [ ]:
space_string = "     listen first      "
print(space_string.strip())  # removes all spaces from both sides

listen first