In [ ]:
for x in list('pqr'): 
  print(x*2,end=" ")

pp qq rr

In [ ]:
d = {"john":40, ("ali","veli"): 50, "peter":45} 
print(d[("ali","veli")])
d = {}
print(type(d))

50
<class 'dict'>

In [ ]:
d = {"john":40, "peter":45} 
print(list(d.keys()))
print(tuple(d.keys()))
print(set(d.keys()))
print(d.keys())
print(d)
print(d.values())
print(list(d.values()))

['john', 'peter']
('john', 'peter')
{'peter', 'john'}
dict_keys(['john', 'peter'])
{'john': 40, 'peter': 45}
dict_values([40, 45])
[40, 45]

In [ ]:
a={} 
a['a']=1
a['b']=[2,3,4] 
print(a)

{'a': 1, 'b': [2, 3, 4]}

In [ ]:
a={} 
a['a']=1
a['b']=[2,3,4]
a[1]='aslan' 
a[1.2]='?'
print(a)

{'a': 1, 'b': [2, 3, 4], 1: 'aslan', 1.2: '?'}

In [ ]:
z=set('abc') 
print(z)
z.add('san') 
print(z)
z.update("ali") 
print(z)

{'a', 'c', 'b'}
{'a', 'c', 'san', 'b'}
{'c', 'a', 'i', 'l', 'san', 'b'}

In [2]:
z=set('abc') 
print(z)

{'a', 'c', 'b'}

In [3]:
count, fruit, price = (2, 'apple', 3.5)

In [4]:
print(count)

2

In [ ]:
print(enumerate.__doc__)

Return an enumerate object.

  iterable
    an object supporting iteration

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list:
    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...

In [5]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior'] 
x = list(enumerate(college_years, 2019))
for i in x:
  if 2020 in i:
    print(i)

(2020, 'Sophomore')