In [ ]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [ ]:
try_tuple = ('love')

print(try_tuple)

print(type(try_tuple)) # it's not tuple type.

love
<class 'str'>

In [ ]:
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's a tuple type.

('love',)
<class 'tuple'>

In [ ]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [ ]:
empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [ ]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [ ]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [ ]:
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])

0
2
4

IndexError: ignored

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # you can't assign a value

TypeError: ignored

In [ ]:
print(city_tuple.index('Moskow'))

2

In [ ]:
print(city_tuple.count('Moskow'))

1

In [ ]:
print(city_tuple.count('Istanbul'))

1