<a href="https://colab.research.google.com/github/coder-omer/Python/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                          Exercise 168

Given the triangle of consecutive odd numbers:

               1
            3     5
        7     9    11
     13    15    17    19
    21    23    25    27    29

...

Calculate the sum of the numbers in the nth row of this triangle (starting at index 1) e.g.: (Input --> Output)

1 -->  1

2 --> 3 + 5 = 8

In [ ]:
def sum_odd_tri(num):
  return num ** 3

sum_odd_tri(8)

512

Verilen sayıya kadar olan tek sayıların toplamı

In [ ]:
def sum_triangle(number):
    res = 0
    for i in range(1,number+1):
      if i % 2 != 0:
        res = res + i
    return res

sum_triangle(12)

36

5 e kadar tek sayıları bulan fonksiyon

In [ ]:
def sum_1(number):
  return [i for i in range(1,number+1) if i%2!=0]

sum_1(5)

[1, 3, 5]

5 e kadar tek sayıların toplamını bulan fonksiyon

In [ ]:
def sum_2(number):
  return sum([i for i in range(1,number+1) if i%2!=0])

sum_2(5)

9

In [ ]:
def iki_1(number):
  liste1 = []
  return [i for i in range(1,number+1) if i%2!=0]

iki_1(2)

[1]

In [ ]:
a = range(5)
a

range(0, 5)

In [ ]:
for i in range(5):
  print(i, end=" ")

0 1 2 3 4

In [ ]:
b = [i for i in range(5)]
b

[0, 1, 2, 3, 4]

In [ ]:
c = sum (b)
c

10

In [ ]:
d = 2*c+1
d

21

In [ ]:
for i in range(5):
  e = d + i
e

25

In [ ]:
for i in range(5):
  e = (2*(sum([i for i in range(5)])))
e

20

In [ ]:
def sum_odd(n) :
  odd = sum([i for i in range(n)])
  return sum([(2 * odd + 1) + (2 * i) for i in range(n)])

sum_odd(8)

512

In [ ]:
my_liste = [1,3,5,7,9,11,13,15,17,19,21,23,25,27,29]

In [ ]:
for i in range(15):
  print(my_liste[i]+my_liste[i+1])

4
8
12
16
20
24
28
32
36
40
44
48
52
56

IndexError: ignored

 Write a function to find the sum of the digits of a number in Python?

> Girintili blok

Given the triangle of consecutive odd numbers:

               1
            3     5
        7     9    11
     13    15    17    19
    21    23    25    27    29
  31    33     35    37   39   41

...

N=2 ise Sonuç= 8     N^3 (N üzeri 3)
N=3 ise      = 27
N=4 ise      = 64
N=5 ise      = 125    
n=6 ise      = 216
N=7          = 343
N=8          = 512