In [ ]:
print('Say: I love you!')
print()
print('me too', 2019)

Say: I love you!

me too 2019

In [ ]:
def first_function(argument_1, argument_2) :
    print(argument_1**2 + argument_2**2)

In [ ]:
first_function(2, 3)  # here, the values (2 and 3) are allocated to the arguments

13

In [ ]:
def multiply(a, b) :
    print(a * b)
  
multiply(3, 5)
multiply(-1, 2.5)
multiply('amazing ', 3)  # it's really amazing, right?

15
-2.5
amazing amazing amazing

In [ ]:
def motto() :
    print("Don't hesitate to reinvent yourself!")

motto()  # it takes no argument

Don't hesitate to reinvent yourself!

In [ ]:
def toplam(a,b):
  print(a+b)

toplam(3,5)
toplam(67,85)

8
152

In [ ]:
def multiply_1(a, b) :
    print(a * b)  # it prints something

def multiply_2(a, b) :
    return a * b  # returns any numeric data type value

multiply_1(10, 5)
print(multiply_2(10, 5))

50
50

In [ ]:
print(type(multiply_1(10, 2)))
print(type(multiply_2(10, 5)))

20
<class 'NoneType'>
<class 'int'>

In [ ]:
shadow_var = print("It can't be assigned to any variable")
print(shadow_var)  # NoneType value can't be used

It can't be assigned to any variable
None