<a href="https://colab.research.google.com/github/coder-omer/Python/blob/main/Untitled39.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
group = {}

for i in strs :
  kelime = "".join(sorted(i))
  if kelime in group :
    group[kelime].append(i)
  else :
    group[kelime] = [i]

print(list(group.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['cat', 'tac']]

In [ ]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
group = {}

for i in strs :
  kelime = "".join(sorted(i))
  if kelime in group :
    group[kelime].append(i)
  else :
    group[kelime] = [i]

print(group)

{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat'], 'act': ['cat', 'tac']}

In [ ]:
i = 1
print(sorted(strs[i]))

['a', 'e', 't']

In [ ]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
group = {}

for i in strs :
  kelime = "".join(sorted(i))
  if kelime in group :
    group[kelime].append(i)

print(group)

{}

In [ ]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
group = {}

for i in strs :
  kelime = "".join(sorted(i))
  if kelime in group :
    group[kelime].append(i)
  else :
    group[kelime] = [i]

print(group)

{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat'], 'act': ['cat', 'tac']}