In [1]:
myset = {"apple", "banana", "cherry"} # Sets are used to store multiple items in a single variable.

In [2]:
thisset = {"apple", "banana", "cherry"}  # Sets are unordered, so you cannot be sure in which order the items will appear.
print(thisset)

{'apple', 'banana', 'cherry'}

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}  # Duplicate values will be ignored

print(thisset)

{'apple', 'banana', 'cherry'}

In [4]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [5]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [7]:
set1

{'apple', 'banana', 'cherry'}

In [8]:
set2

{1, 3, 5, 7, 9}

In [9]:
set3

{False, True}

In [10]:
set1 = {"abc", 34, True, 40, "male"}  # A set can contain different data types

In [12]:
type(set1)

set

In [11]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [13]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [14]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [15]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [17]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya'}

In [18]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'cherry', 'kiwi', 'apple', 'banana'}

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [20]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [22]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [23]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [24]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [25]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [26]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [27]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'b', 'a'}

In [28]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [29]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [30]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'google', 'banana'}

In [31]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'google', 'banana'}