In [2]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [3]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")   # Allow Duplicates
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [4]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [5]:
thistuple = ("apple",)         # One item tuple, remember the comma
print(type(thistuple))

<class 'tuple'>

In [6]:
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [7]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [9]:
type(tuple1)
type(tuple2)
type(tuple3)

tuple

In [10]:
tuple1 = ("abc", 34, True, 40, "male")   # A tuple can contain different data types
tuple1

('abc', 34, True, 40, 'male')

In [11]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

Python Collections (Arrays)

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.

Dictionary is a collection which is ordered and changeable. No duplicate members.

In [12]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [13]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [15]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")  # The search will start at index 2 (included) and end at index 5 (not included).
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [16]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [17]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [18]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [19]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [20]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [22]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple

('apple', 'banana', 'cherry', 'orange')

In [24]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)          # When creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [25]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
thistuple

('banana', 'cherry')

In [26]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [28]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

#  The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

apple
banana
cherry

In [29]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [30]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [31]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [32]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [33]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [34]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [35]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')